.container
  .jumbotron.transparent
    %h1 SIMPLE TODO LISTS
    %p.lead FROM RUBY GARAGE
    %p
      = link_to user_session_path, class: 'btn btn-lg btn-success' do
        Sign in to start &raquo
  .row
    .col-lg-4
      %h2 Placeholder
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
    .col-lg-4
      %h2 Placeholder
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
    .col-lg-4
      %h2 Placeholder
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
      %p
  %footer.footer
    %p &copy; Denis Kostyrko 2014
