.container{"ng-app" => "todo"}
  .jumbotron.transparent
    %h1 SIMPLE TODO LISTS
    %p.lead FROM RUBY GARAGE

  .projects{"ng-controller" => "ProjectsController"}
    .project-panel{ "ng-if" => "projects", "ng-repeat" => "project in projects"}
      .project
        %p.name{'ng-hide' => 'selectedProject.index == $index', "ng-cloak" => 'true'}
          {{project.name}}
          %span.pull-left.calendar.glyphicon.glyphicon-calendar
          %span.pull-right.project-action.glyphicon.glyphicon-trash{"ng-click" => "deleteProject(project.id, $index)"}
          %span.pull-right.project-action.glyphicon.glyphicon-pencil{"ng-click" => "selectedProject.index = $index"}

        .project-update-form-directive{'project-update-form' => true}


      .task-directive{'task-directive' => true}


    .project-create-form-directive{'project-create-form' => true}