.container{"ng-app" => "todo", "ng-controller" => "ProjectsController"}
  .jumbotron.transparent
    %h1 SIMPLE TODO LISTS
    %p.lead FROM RUBY GARAGE

  .project-panel{"ng-if" => "projects", "ng-repeat" => "project in projects"}
    .project
      %p.name
        {{project.name}}
        %span.pull-right.project-action.glyphicon.glyphicon-trash{"ng-click" => "deleteProject(project.id)"}
        %span.pull-right.project-action.glyphicon.glyphicon-pencil{"ng-click" => ""}

  .panel.panel-body{'ng-show' => 'showForm'}
    %form.form-inline{ name:'project_form', 'ng-submit' => 'addProject()',
     "ng-class" => "{'has-error': project_form.name.$invalid, 'has-success': !project_form.name.$invalid}" }
      .form-group
        %input.form-control{name: 'name', "ng-model" => "name", required: 'true', :placeholder => "Enter a project title", :type => "text"}
        %button.btn.btn-success{type: 'submit'} Add new project


  .text-center
    .btn.btn-lg.btn-primary{"aria-label" => "Left Align", :type => "button", 'ng-click' => 'showForm = true'}
      %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
      Add TODO list