.modal{:role => "dialog", :tabindex => "-1", 'ng-controller' => 'CommentsController'}
  .modal-dialog{'ng-init' => 'getComments()'}
    .modal-content
      .modal-header{"ng-show" => "title"}
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title{"ng-bind" => "title"}

      .modal-body{"ng-if" => "comments", "ng-repeat" => "comment in comments"}
        .comment{'ng-controller' => 'AttachmentsController'}
          %p.comment-body
            {{comment.body}}
            %span.pull-right.comment-action.glyphicon.glyphicon-trash{"ng-click" => "deleteComment( comment.task_id, comment.id, $index)"}
            %span.pull-right.comment-action.glyphicon.glyphicon-paperclip{"ng-click" => "selectedComment.index = $index"}
            .attachments{'ng-controller' => 'AttachmentsController', 'ng-init' => 'getAttachments(comment.id)'}
              .ul.list-group.attachment{'ng-show' => 'selectedComment.index == $index'}
                %li.list-group-item{'ng-repeat' => 'attachment in attachments'}
                  %p
                    {{attachment.filename}}
                    %span.pull-right.comment-action.glyphicon.glyphicon-trash{"ng-click" => "deleteAttachment(attachment.comment_id, attachment.id, $index)"}
                    %a{"ng-href" => "{{attachment.url}}"}
                      %span.pull-right.comment-action.glyphicon.glyphicon-save{"ng-click" => ""}
                %li.list-group-item.text-center
                  %label
                    Attach file
                    %input.file-upload.single{"nv-file-select" => "", :type => "file", :uploader => "singleUploader"}
      .modal-footer
        %form{ name:'comment_form', 'ng-submit' => 'addComment(currentTask.id, body)', "ng-class" => "{'has-error': comment_form.comment_body.$invalid, 'has-success': !comment_form.comment_body.$invalid}" }
          .input-group
            %input.form-control{name: 'comment_body', placeholder: 'Start typing here to create a comment', required: true, 'ng-minlength' => '5', 'ng-maxlength' => '62', "ng-model" => "body"}
            %span.input-group-btn
              %button.btn.btn-success
                Comment
          %label.upload-label.btn.btn-primary
            Attach files
            %input.file-upload.multi{"nv-file-select" => "",id: "mult", name: "multi_upload", "multiple" => 'true', :type => "file", :uploader => "uploader"}
          .progress
            .progress-bar{"ng-style" => "{ 'width': uploader.progress + '%' }", :role => "progressbar", :style => "width: 0%;"}
          %ul.list-group
            %li.list-group-item{"ng-repeat" => "item in uploader.queue"}
              %p.attachment-name
                {{item.file.name}}
                %span.pull-right.comment-action.glyphicon.glyphicon-trash{"ng-click" => "item.remove()"}
            %li.list-group-item.upload-queue-clear{'ng-show' => 'uploader.queue.length > 0'}
              %p.text-center.clear{'ng-click' => "uploader.clearQueue()"}
                Remove all uploads from queue

