%form.form-inline{ name: 'task_update_form', 'ng-submit' => 'updateTaskName(project.id, task.id ,task.name)', 'ng-show' => 'selectedTask.index == $index'}
  .form-group
    %input.update-input.form-control{name: 'name', "ng-model" => "task.name", required: 'true', :placeholder => "Enter a task title", :type => "text"}
    %button.update-btn.btn.btn-success{type: 'submit'} Save
  %span.pull-right.project-action.glyphicon.glyphicon-remove{"ng-click" => "selectedTask.index = -1"}